.ant-modal-body{
    padding: 0 !important;
    /* position: fixed  !important; */
    margin-top: 22% !important;
    background-color: white;
    /* transition: 1s; */
}
.ant-modal-content{
    width: 680px !important;
}
.ant-modal{
    margin-left: 34% !important;

    /* margin: 0 26%  !important; */
}
.ant-tabs{
    margin-top: 15px !important;
}

.ant-tabs-nav {
    padding-left: 80px !important;
}
.ant-tabs-nav .ant-tabs-tab-active{
    color:#FF787E !important;
}
.ant-tabs-ink-bar {
    background-color:#FF787E !important;
}
.ant-steps-navigation .ant-steps-item::before{
    background-color:#FF787E !important;
}
html {
    --antd-wave-shadow-color: #FF787E !important;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
    color: #FF787E !important;
}
.ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon{
    color: #FF787E !important;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
    background-color: #FF787E !important;
}
.ant-input:hover{
    border-color: #FF787E !important;
}